/* Definir la fuente */
body {
  font-family: 'Nunito Sans', sans-serif;
}

/* Estilos para los títulos */
h1 {
  font-size: 40px;
  font-weight: 600;
}

h2 {
  font-size: 24px;
  font-weight: 500;
}

h3 {
  font-size: 14px;
  font-weight: 300;
}

/* Color de fondo de la app */
.app {
  background-color: #800E13;
}
